<!DOCTYPE html>
<html layout:decorator="task/layout">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Flight Admin Page</title>
</head>
<body>
	<div layout:fragment="content">

		<h2>Application States</h2>
		<table class="table table-bordered table-striped" border="1">
			<thead>
				<tr>
					<th>Date</th>
					<th>Flight API Count</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="as : ${allApplicationStates}">
					<td th:text="${as.date}">DATE</td>
					<td th:text="${as.flightApiCount}">FLIGHT_API_COUNT</td>
				</tr>
			</tbody>
		</table>
		<h2 style="margin-top: 30px">Saved Flight Searches</h2>
		<table class="table table-bordered table-striped" border="1">
			<thead>
				<tr>
					<th>Origin</th>
					<th>Destination</th>
					<th>Departure Date</th>
					<th>Return Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ss : ${allSavedSearches}">
					<td th:text="${ss.origin}">ORIGIN</td>
					<td th:text="${ss.destination}">DESTINATION</td>
					<td th:text="${ss.departureDateString}">DEPARTURE_DATE</td>
					<td th:text="${ss.returnDateString}">RETURN_DATE</td>
				</tr>
			</tbody>
		</table>

		<h2 style="margin-top: 30px">Flight Data</h2>
		<table class="table table-bordered table-striped" border="1">
			<thead>
				<tr>
					<th>Origin</th>
					<th>Destination</th>
					<th>Departure Date</th>
					<th>Return Date</th>
					<th>Lowest Price</th>
					<th>Lowest Price Duration</th>
					<th>Shortest Price</th>
					<th>Shortest Price Duration</th>
					<th>Date Searched</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fd : ${allFlightData}">
					<td th:text="${fd.origin}">ORIGIN</td>
					<td th:text="${fd.destination}">DESTINATION</td>
					<td th:text="${fd.departureDateString}">DEPARTURE_DATE</td>
					<td th:text="${fd.returnDateString}">RETURN_DATE</td>
					<td th:text="${fd.lowestPrice}">LOWEST_PRICE</td>
					<td th:text="${fd.getLowestTripDurationAsString()}">LOWEST_PRICE_TRIP_DURATION</td>
					<td th:text="${fd.shortestTimePrice}">SHORTEST_TIME_PRICE</td>
					<td th:text="${fd.getShortestTripDurationAsString()}">SHORTEST_PRICE_TRIP_DURATION</td>
					<td th:text="${fd.dateSearchedString}">DATE_SEARCHED_STRING</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
