<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1"></meta>
<title>Mark's Flight History Page</title>
</head>
<body >
	<div style="width=:200px; height: 200px; margin:0 auto; display:inline; text-align: center;">
		<h2>Details</h2>
		<form method="post" action="main/inputs" th:object="${flightData}">
			<table style="margin: auto;">
				<tr>
					<td>From</td>
					<td><input type="text" name="origin" th:field="*{origin}"></input></td>
					<td>To</td>
					<td><input type="text" name="destination" th:field="*{destination}"></input></td>
				</tr>
				<tr style="margin-top: 30px">
					<td>Date</td>
					<td><input type="date" name="date" th:field="*{date}"></input></td>
				</tr>
				<tr style="margin-top: 50px;">
					<td align="left"><button type="submit">Search</button></td>
				</tr>
			</table>
			
		</form>
		
		<table>
			<tr>
				<td>Origin</td>
				<td th:text="${flightData.origin}"></td>
			</tr>
			<tr>
				<td>Destination</td>
				<td th:text="${flightData.destination}"></td>
			</tr>
			<tr>
				<td>Date</td>
				<td th:text="${flightData.date}"></td>
			</tr>
			<tr>
				<td>Lowest Price</td>
				<td th:text="${flightData.lowestPrice}"></td>
			</tr>
			<tr>
				<td>Shortest Time Price</td>
				<td th:text="${flightData.shortestTimePrice}"></td>
			</tr>
		</table>
		
		<div th:switch="${flightData.existingSearch}"> 
		  <p th:case="'false'">This search has now being saved and will run daily to track flight fares</p>
		  <p th:case="'true'">This search already exists and is already tracking flight fares daily</p>
		  <!-- <p th:case="*">You should never see this</p>    -->
		</div>
		
	</div>
	
</body>
</html>