<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Mark's Flight Tracker Page</title>
<script src="/static/js/jquery-1.11.2.js" type="text/javascript"></script>
<script src="/static/js/Chart.js" type="text/javascript"></script>
<script src="/static/js/flight_chart.js" type="text/javascript"></script>

<script th:inline="javascript">
/*<![CDATA[*/

    var jsFlightData = [[${flightData}]];
    

/*]]>*/
</script>

</head>
<body>
	<div
		style="width =: 200px; height: 200px; margin: 0 auto; display: inline; text-align: center;">
		<h4>Enter your flight details below</h4>
		<form method="post" action="main/inputs" th:object="${flightData}">
			<table class="table" style="margin: auto;">
				<tr>
					<td>Origin</td>
					<td><input type="text" name="origin" th:field="*{origin}"></input></td>
				</tr>
				<tr>
					<td>Destination</td>
					<td><input style="margin-top: 5px" type="text" name="destination"
						th:field="*{destination}"></input></td>
				</tr>
				<tr >
					<td>Departure Date</td>
					<td><input style="margin-top: 5px" type="date" name="departureDate"
						th:field="*{departureDateString}"></input></td>
				</tr>
				<tr  >
					<td>Return Date</td>
					<td ><input style="margin-top: 5px" type="date" name="returnDate"
						th:field="*{returnDateString}" disabled="disabled" ></input></td>
					<td style="color: gray;">Coming soon</td>
				</tr>
				<tr >
					<td></td>
					<td align="center"><button style="margin-top: 25px" type="submit">Search</button></td>
				</tr>
				
				<tr style="margin-top: 20px">
					<td style="color: red">Debug Options</td>
				</tr>
				<tr>
					<td>Force Batch Usage</td>
					<td><input type="checkbox" name="forceBatchUsage" th:field="*{forceBatchUsage}"/></td>
				</tr>
			</table>
	


		</form>

		<!-- The lovely chart! -->
		<canvas id="flightChart" width="400" height="400"></canvas>


		<table class="table">
			<caption><h5>Debug Flight Information</h5></caption>
			<tr>
				<td>Origin</td>
				<td th:text="${flightData.origin}"></td>
			</tr>
			<tr>
				<td>Destination</td>
				<td th:text="${flightData.destination}"></td>
			</tr>
			<tr>
				<td>Departure Date</td>
				<td th:text="${flightData.departureDateString}"></td>
			</tr>
			<tr>
				<td>Return Date</td>
				<td th:text="${flightData.returnDateString}"></td>
			</tr>
			<tr>
				<td>Lowest Price</td>
				<td th:text="${flightData.lowestPrice}"></td>
			</tr>
			<tr>
				<td>Lowest Price Trip Duration</td>
				<td th:text="${flightData.getLowestTripDurationAsString()}"></td>
			</tr>
			<tr>
				<td>Shortest Time Price</td>
				<td th:text="${flightData.shortestTimePrice}"></td>
			</tr>
			<tr>
				<td>Shortest Price Trip Duration</td>
				<td th:text="${flightData.getShortestTripDurationAsString()}"></td>
			</tr>
		</table>

		<div th:switch="${flightData.existingSearch}">
			<p th:case="${false}">This search has now being saved and will run
				daily to track flight fares</p>
			<p th:case="${true}">This search already exists and is already
				tracking flight fares daily</p>
		</div>
		
		
		<div>
			<p style="color: blue" th:text="${flightData.message}"/>
			<p style="color: red" th:text="${flightData.exceptionMessage}"/>
		</div>
		<div th:if="${T(com.mark.util.FlightProperties).IN_DEBUG_MODE}"
			style="color: red">In Debug Mode</div>
	</div>

</body>
</html>